.App {
  text-align: center;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.itemcard {
	width: 150px;
	height: 80px;
	margin: 2px;
	border: 2px black solid;
	transition: all 0.2s;
	cursor: pointer;
	border-radius: 5px;
	background: linear-gradient(to right, #dfdfdf, #dedede);
}

.itemcard:hover {
	transform: scale(1.05);
}

.view {
	margin-top: 20px;
	overflow-y: scroll;
	bottom: 0;
	height: 80vh;
	width: 100%;
}

.searchbar {
	height: 130px;
}

.row {
	text-align: left;
}

.ingredient-img {
	width: 65px;
	height: auto;
}

.navigator {
	cursor: pointer;
}

.navigator:hover {
	color: steelblue;
}

body {
	background-image: url(moogle.png);
	background-size: 200px auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0 0;

}

input {
	text-indent: 5px;
}

.itembox {
	background: linear-gradient(to right, #dfdfdf, #dedede);
	border-radius: 10px;
	padding: 30px;
	margin-top: 10%;
	box-shadow: 1px 1px 2px black;
}

.itembox h2 {
	text-align: center;
}

.subview {
	background: linear-gradient(to right, #cacaca, #c1c1c1);
	border-radius: 10px;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.jumbotron {
	margin-top: 20vh;
}